* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  scroll-behavior: smooth !important;
}

body {
  height: 100vh;
  width: 100%;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
}

section:nth-of-type(1) {
  background-color: blue;
  color: #fff;
}

section:nth-of-type(2) {
  background-color: red;
  color: #fff;
}

section:nth-of-type(3) {
  background-color: green;
  color: #fff;
}

section:nth-of-type(4) {
  background-color: yellow;
  color: #fff;
}

section:nth-of-type(5) {
  background-color: pink;
  color: #fff;
}

h1 {
  font-size: 15em;
}

h2 {
  font-size: 3em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.contact-flex-container {
  width: 100%;
  height: 100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-flex-child {
  flex: 1;
}

.contact {
  flex: 1;
}

.contact-flex-child:first-child {
  margin-right: 20px;
  color: black;
}

.contact form {
  margin-top: 0px;
  padding: 0px 30px;
}

.contact h3 {
  font-size: 1.5em;
  color: black;
  text-align: left;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
}

.contact p {
  margin: 0 0px 10px;
  margin-left: 0px !important;
}
.contact label {
  display: none;
}
.contact input {
  width: 100%;
  border: none;
  border: 1px solid #dddddd78;
  padding: 10px;
  border-radius: 4px;
}
.contact textarea#message {
  width: 100%;
  height: 122px;
  border: 1px solid #dddddd78;
  border-radius: 4px;
  padding: 10px;
}
.contact input#submit {
  color: white;
  background: linear-gradient(0.25turn, #2a78ca, #71a1d4);
  float: right;
  border: none;
  border-radius: 4px;
  padding: 15px 23px;
  box-shadow: 0px 0px 4px 0px #00000087;
  margin-top: 15px;
}
