<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" type="text/css" />
    <title>Matt Biddick</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Logo</a>
      <nav class="navbar">
        <a href="#home section">Home</a>
        <a href="#about section">About</a>
        <a href="#gallery section">Gallery</a>
        <a href="#services section">Services</a>
        <a href="#contact section">Contact</a>
      </nav>
    </header>
    <div class="container">
      <section id="home section">
        <h1>Home</h1>
      </section>
      <section id="about section">
        <h1>About</h1>
      </section>
      <section id="gallery section">
        <h1>Gallery</h1>
      </section>
      <section id="services section">
        <h1>Services</h1>
      </section>
      <section id="contact section">
        <h1>Contact</h1>
      </section>
    </div>
  </body>
</html>
