<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" type="text/css" />
    <title>Matt Biddick</title>
  </head>
  <body>
    <header class="header">
      <a href="#" class="logo">Logo</a>
      <nav class="navbar">
        <a href="#home section">Home</a>
        <a href="#about section">About</a>
        <a href="#gallery section">Gallery</a>
        <a href="#services section">Services</a>
        <a href="#contact section">Contact</a>
      </nav>
    </header>
    <div class="container">
      <section id="home section">
        <h1>Home</h1>
      </section>
      <section id="about section">
        <h1>About</h1>
      </section>
      <section id="gallery section">
        <h1>Gallery</h1>
      </section>
      <section id="services section">
        <h1>Services</h1>
      </section>
      <section id="contact section">
        <div class="contact-flex-container">
          <div class="contact-flex-child 1">
            <h2>Let's chat.</h2>
            <h2>Tell me about your project.</h2>
            <br />
            <h3>Let's make something special together!</h3>
            <br />
            <div class="mail-flex-container">
              <div class="mail-flex-child 1">
                <img
                  class="mail-icon"
                  src="https://raw.githubusercontent.com/Matt-Biddick/Portfolio-Website/main/assets/email-icon.png"
                  width="35"
                  height="35"
                />
              </div>
              <div class="mail-flex-child 2">
                <h4>matthew.biddick@icloud.com</h4>
              </div>
            </div>
          </div>
          <div class="contact">
            <h3>Get in touch!</h3>
            <form action="{{ url_for('views.home') }}" method="post">
              <div>
                <!-- name forms -->
                <p>
                  {{ form.name.label }} <br />
                  {{ form.name(placeholder='Your name*') }}
                </p>
                <!-- email forms -->
                <p>
                  {{ form.email.label }} <br />
                  {{ form.email(placeholder='Your e-mail*') }}
                </p>
                <!-- Subject of your request -->
                <p>
                  {{ form.subject.label }}<br />
                  {{form.subject(placeholder='Subject*')}}
                </p>
                <!-- Content of your request -->
                <p>
                  {{ form.message.label }}<br />
                  {{ form.message(placeholder='Write your request ...*') }}
                </p>
                <!-- Submit button -->
                <p>{{ form.submit }}</p>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
